#navbar { 
    background-color: white;
    padding: 10px; 
}

body {
    background-color: #71855D !important; 
    font-family: "Akshar" !important;
}

.closerGrid {
    display: grid;
    background-color: black;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;     
    padding: 5px; 
    border-radius: 10px; 
}

#cgItem {
    background-color: whitesmoke;
    border: 3px solid black;
    padding: 20px; 
    border-radius: 10px;
    text-align: center;
}


